:root {
    --primary-color: orange;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: serif;
    font-size: 14px;
}
.card-container {
    border: 1px solid #000;
    max-width: 1200px;
    width: 90%;
    display: grid;
    margin: 2rem;
    background-color: var(--primary-color);
}
.card {
    /* border: 1px solid #000; */
    /* height: 200px; */
}
.card-link {

}
.card-img {

}
.card-body {

}
.card-category {

}
.card-title {

}
.card-description {

}
.card-post-info {

}
.card-avater {

}
.card-date {

}