:root {
    --primary-color: rgb(225, 185, 111);
    --card-border-radious: 7px;
    --card-title-color: orange;
    --card--category-color: seagreen;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: serif;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin: 2rem;
}
/* mobile view */
.card-container {
    /* border: 1px solid #000; */
    max-width: 1200px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 35px;
    /* background-color: var(--primary-color); */
    gap: 2rem;
    padding: 10px;
}
.card {
    /* border: 1px solid #000; */
    /* height: 200px; */
    box-shadow: 0px 2px 4px #333;
    border-radius: var(--card-border-radious);
    transition: all 0.2s ease-out;

    &:hover {
        box-shadow: 3px 6px 30px #333;
        transform: translate(-5px);
    }
}
.card-link {
    text-decoration: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: var(--primary-color);
}
.card-img {
    width: 100%;
    /* height: 350px; */
    border-top-left-radius: var(--card-border-radious);
    border-top-right-radius: var(--card-border-radious);
    object-fit: cover;
}
.card-body {
    padding: 2rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.card-category {
    color: var(--card--category-color);
    font-size: 1.4rem;
    font-weight: 500;
}
.card-title {
    color: var(--card-title-color);
    margin-bottom: 1.3rem;
    font-size: 2rem;
    font-family: cursive;
}
.card-description {
    flex-grow: 1;
    margin-bottom: 1.2rem;
}
.card-post-info {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.card-avater {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}
.caed-author {
    font-family: cursive;
    font-size: 1.2rem;
    color: var(--card--category-color);
}
.card-date {
    color: #777;
}
/* Tablet view */
@media (min-width: 700px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
        /* margin: 2.5rem auto; */
        margin-left: 0;
        margin-right: 0;
    }
    .card-img {
        width: 100%;
        height: 28%;
    }
    
}
/* Desktop view */
@media (min-width: 1200px) {
    .card-container {
        grid-template-columns: repeat(3, 1fr);

    }
    .card-img {
        width: 100%;
        height: 35%;
    }
    
}